<!DOCTYPE html>
<html>
<head>
    <title>Doctor Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<%- include('../doctor/navber') %>  

<div class="container">
    <h1 class="text-center mt-5">Welcome doctor <%= doctorName %>!</h1>
    <h2 class="text-center text-muted">Doctor Dashboard</h2>
</div>

</body>
</html>