<!DOCTYPE html>
<html>
<head>
    <title>pharm Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<%- include('../pharm/navber') %>  
<h1 class="text-center mt-5">pharm Dashboard</h1>

</body>
</html>
